<div class="container">
  <div class="row">
    <div class="col-md-6 purple-back" style="padding:2%;">
      <div id="map" ng-init="initMapD()"></div>
    </div>
    <div class="col-md-6 white-back" style="padding:2%;">
      Test text test text test text test text test text test text test text test text test text test text test text test text test text test text test text test text test text test text test text test text test text
    </div>

    <div id='clickNewBooking' data-toggle="modal" data-target="#newBookingModal"></div>

    <div id="newBookingModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">New Booking</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <br>Pickup Point:  <span id="PickUpp"></span>
            <br>Dropoff Point: <span id="DropOfff"></span>
            <br>
            <br>Customer Name: <span id="CustName"></span>
            <br>Customer Number: <span id="CustNumber"></span>
            <hr>Total Fare:  <span id="Fare"></span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
