<div class="container-fluid">
  <div class="row" style="background: url('./public/images/backdrop.png');background-repeat: no-repeat; background-size: contain; margin-top:-30px; ">
    <div class="col-md-12">
      <div class="jumbotron" style="background-color: #e9ecef00; padding-bottom:30px;">
        <h1 style="color:#930068; margin-top:135px;">_</h1>
        <p style="color:#000;">Ride. Anywhere. Anytime.</p>
        <a href="#/booking" class="btn btn-warning">Book Now</a>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <h2 class="col-md-12" style="margin-bottom:2%;">Why choose Swift?</h2>
    <div class="col-md-4">
      <div class="card">
        <img src="./public/images/fleet.png" style="margin:0 30%;width:40%">
        <h3>Varied Fleet</h3>
        <p>Choose the vehicle best suited for your travel needs.</p><br>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="./public/images/offer.png" style="margin:0 30%;width:40%">
        <h3>Special Offers</h3>
        <p>Just enter the promocode & get discounts on your trip!</p><br>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="./public/images/247.png" style="margin:0 30%;width:40%">
        <h3>24/7 Service</h3>
        <p>Book a ride immediately or for the near future!</p><br>
      </div>
    </div>
  </div>
</div>
