<div class="container">
  <div class="row">
    <form class="form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Email" ng-model="User.Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="User.Password">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-warning" ng-click="LoginUser()">
      </div>
    </form>
  </div>
</div>
