<div class="container">
  <div class="row">
    <div class="col-md-6 purple-back"></div>
    <div class="col-md-6 white-back">
      <br> &nbsp; &nbsp; Please enter your details to register:
      <form class="form">
        <div class="form-group col-md-12">
          <input required class="form-control" ng-model="User.Name" placeholder="Full Name">
        </div>
        <div class="form-group col-md-12">
          <input required class="form-control" ng-model="User.Mobile" placeholder="Mobile">
        </div>
        <div class="form-group col-md-12">
          <input required class="form-control" ng-model="User.Email" placeholder="Email">
        </div>
        <div class="form-group col-md-12">
          <input required class="form-control" type="password" ng-model="User.Password" placeholder="Password">
        </div>
        <div class="form-group col-md-12">
          <input type="submit" class="form-control btn-warning" ng-click="AddUser()">
        </div>
      </form>
    </div>
  </div>
</div>
